footer.footer
  .footer__logo
    a(href='/')
      img(src='/img/logo-green.png' alt='Natours logo')
  ul.footer__nav
    li: a(href='https://github.com/chahit07' target='_blank') GitHub
    li: a(href='https://www.linkedin.com/in/chahit-berhya-a26b78259/' target='_blank') LinkedIn
    li: a(href='https://x.com/c_berhya' target='_blank') Twitter
  p.footer__copyright &copy; by Chahit berhya. All rights reserved.